*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

.carousel-inner img{
margin: 0;
padding: 0;
width: 100%;
max-width: 30rem;
}
#gtc{
    overflow: hidden;
}
.card{
    width: 20rem;
}
.card img{
    width: 100%;
}


.padding-0{
    padding-right:0;
    padding-left:0;
}
/* .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    line-height: 1;
    margin: 0 auto;
    max-width: 100%;
} */

#footer-kinda{
    background-color: black;
    color: green;
}


#footer-kinda h2{
    color: white;
}

#footer-kinda h4{
    font-size: 20px;
}


.socials{

    margin-top: 4rem;
    color:grey
}

#footer-kinda i{
    margin-right: 3rem;
}
.btn-success{
    background-color: green;
}